<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>158550708125-hlvaolmlh4gnj68cgkijcrnnbjmq0ui6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.158550708125-hlvaolmlh4gnj68cgkijcrnnbjmq0ui6</string>
	<key>API_KEY</key>
	<string>AIzaSyABKDvHqBA_KMTJ4u0l1Sz9OreZOkK9WdM</string>
	<key>GCM_SENDER_ID</key>
	<string>158550708125</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.test1.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>gluten-free-scanner-e95e8</string>
	<key>STORAGE_BUCKET</key>
	<string>gluten-free-scanner-e95e8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:158550708125:ios:e06f6934280775542da974</string>
	<key>DATABASE_URL</key>
	<string>https://gluten-free-scanner-e95e8-default-rtdb.firebaseio.com</string>
</dict>
</plist>